!example/ios/Flutter/Flutter.podspec
!example/ios/Flutter/Debug.xcconfig
!example/ios/Flutter/Release.xcconfig
!example/ios/Flutter/AppFrameworkInfo.plist

example/.dart_tool/
example/.idea/
example/*.lock
example/build/
example/.packages
example/ios/Flutter/
example/android/.gradle/
.idea/
example/android/gradlew
example/android/gradlew.bat
example/android/gradle/wrapper/gradle-wrapper.jar